{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# @var order \Sylius\Component\Core\Model\OrderInterface #}
{% set order = form.vars.data %}

{% form_theme form '@SetonoSyliusOrderEditPlugin/admin/order/update/theme.html.twig' %}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'setono_sylius_order_edit.ui.order_items'|trans }}</h4>
    <table
        class="ui table"
        data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}"
        data-index="{{ form.items|length > 0 ? form.items|last.vars.name + 1 : 0 }}"
    >
        <thead>
        <tr>
            <th>{{ 'sylius.ui.quantity'|trans }}</th>
            <th>{{ 'sylius.ui.product'|trans }}</th>
            <th>{{ 'sylius.ui.variant'|trans }}</th>
            <th class="right aligned">{{ 'sylius.ui.unit_price'|trans }}</th>
            <th class="right aligned">{{ 'sylius.ui.total'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {# @var itemForm \Symfony\Component\Form\FormView #}
        {% for itemForm in form.items %}
            {# @var orderItem \Sylius\Component\Core\Model\OrderItemInterface #}
            {% set orderItem = itemForm.vars.data %}
            <tr>
                <td>{{ form_row(itemForm.quantity) }}</td>
                <td>{{ orderItem.productName }}</td>
                <td>{{ orderItem.variantName }}</td>
                <td class="right aligned">{{ money.format(orderItem.unitPrice, order.currencyCode) }}</td>
                <td class="right aligned">{{ money.format(orderItem.total, order.currencyCode) }}</td>
                <td class="right aligned">
                    <button class="ui red labeled icon button delete-order-item" type="button">
                        <i class="icon trash"></i> {{ 'sylius.ui.delete'|trans }}
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="6">{{ form_widget(itemForm.discounts) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>
                <button class="ui teal labeled icon button add-order-item" type="button">
                    <i class="icon plus"></i> {{ 'setono_sylius_order_edit.ui.add_order_item'|trans }}
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'setono_sylius_order_edit.ui.order_discounts'|trans }}</h4>
    {{ form_widget(form.discounts) }}
</div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.order_summary'|trans }}</h4>
    <br/>{{ 'sylius.ui.items_total'|trans }}: {{ money.format(order.itemsTotal, order.currencyCode) }}
    <br/>{{ 'sylius.ui.shipping_total'|trans }}: {{ money.format(order.shippingTotal, order.currencyCode) }}
    <br/><br/><span class="ui large header">{{ 'sylius.ui.order_total'|trans }}: {{ money.format(order.total, order.currencyCode) }}</span>
</div>

<div class="ui segment">
    {{ form_row(form.storeNotes) }}
</div>
