{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# @var order \Sylius\Component\Core\Model\OrderInterface #}
{% set order = form.vars.data %}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'setono_sylius_order_edit.ui.order_items'|trans }}</h4>
    <table class="ui table" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.quantity'|trans }}</th>
                <th>{{ 'sylius.ui.product'|trans }}</th>
                <th class="right aligned">{{ 'sylius.ui.unit_price'|trans }}</th>
                <th class="right aligned">{{ 'sylius.ui.total'|trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {# @var itemForm \Symfony\Component\Form\FormView #}
            {% for itemForm in form.items %}
                {# @var orderItem \Sylius\Component\Core\Model\OrderItemInterface #}
                {% set orderItem = itemForm.vars.data %}
                <tr>
                    <td>{{ form_row(itemForm.quantity) }}</td>
                    <td>{{ orderItem.productName }}</td> {# todo add variant #}
                    <td class="right aligned">{{ money.format(orderItem.unitPrice, order.currencyCode) }}</td>
                    <td class="right aligned">{{ money.format(orderItem.total, order.currencyCode) }}</td>
                    <td class="right aligned">
                        <button class="ui red labeled icon button delete-order-item" type="button">
                            <i class="icon trash"></i> {{ 'sylius.ui.delete'|trans }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button class="ui teal labeled icon button add-order-line" type="button">
                        <i class="icon plus"></i> {{ 'sylius.ui.add'|trans }}
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
